@font-face {
  font-family: 'Inter';
  /* Achte auf den exakten Namen aus deinem Datei-Explorer! */
  src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 100 900; /* Da es ein Variable Font ist */
  font-style: normal;
}

/* Grundlegende Reset-Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%)
}